################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVCSobrescrevendo/packages
/MVCSobrescrevendo/MVCSobrescrevendo/obj/Debug
/MVCSobrescrevendo/MVCSobrescrevendo/bin
