@model MVCViews.ViewModels.LoginViewModel

<div style="color:white;background-color:black">
    <h4>Display Template</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <strong>@Html.DisplayNameFor(model => model.Usuario)</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            <strong>@Html.DisplayNameFor(model => model.Senha)</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senha)
        </dd>

    </dl>
</div>